@font-face {
  font-family: "iconfont"; /* Project id 2907870 */
  src: url('iconfont.woff2?t=1635775091077') format('woff2'),
       url('iconfont.woff?t=1635775091077') format('woff'),
       url('iconfont.ttf?t=1635775091077') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-mima:before {
  content: "\e8b2";
}

