@font-face {
  font-family: "iconfont"; /* Project id 2907870 */
  src: url('iconfont.woff2?t=1635946789381') format('woff2'),
       url('iconfont.woff?t=1635946789381') format('woff'),
       url('iconfont.ttf?t=1635946789381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangpinguanli:before {
  content: "\e809";
}

.icon-shujutongji:before {
  content: "\e65a";
}

.icon-dingdanguanli:before {
  content: "\e6e5";
}

.icon-yonghuguanli:before {
  content: "\e70c";
}

.icon-quanxianpeizhi:before {
  content: "\e62b";
}

.icon-xiangsu_mao:before {
  content: "\ed2a";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-mima:before {
  content: "\e8b2";
}

