/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 面包屑 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

/* 卡片 */
.el-card {
  /* !important 最高优先 */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/* 表格 */
.el-table {
  margin-top: 15px;
  font-size: 14px;
}

/* 分页 */
.el-pagination {
  margin-top: 15px;
}